In [ ]:
'''
Are any States/Territories seeing a reduction in infection cases?
How do we define flattening the curve?

'''

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
url = 'https://raw.githubusercontent.com/AndrewDataScience/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv'
df = pd.read_csv(url,error_bad_lines = False)
df.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,4/19/20,4/20/20,4/21/20,4/22/20,4/23/20,4/24/20,4/25/20,4/26/20,4/27/20,4/28/20
0,16.0,AS,ASM,16,60.0,NaN,American Samoa,US,-14.2710,-170.1320,...,0,0,0,0,0,0,0,0,0,0
1,316.0,GU,GUM,316,66.0,NaN,Guam,US,13.4443,144.7937,...,136,136,136,136,139,141,141,141,141,141
2,580.0,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.0979,145.6739,...,14,14,14,14,14,14,14,14,14,14
3,630.0,PR,PRI,630,72.0,NaN,Puerto Rico,US,18.2208,-66.5901,...,1213,1252,1298,1252,1416,1276,1307,1371,1389,1400
4,850.0,VI,VIR,850,78.0,NaN,Virgin Islands,US,18.3358,-64.8963,...,53,53,53,54,54,54,55,57,57,57

In [5]:
df.describe()

,UID,code3,FIPS,Lat,Long_,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,4/19/20,4/20/20,4/21/20,4/22/20,4/23/20,4/24/20,4/25/20,4/26/20,4/27/20,4/28/20
count,3.261000e+03,3262.000000,3252.000000,3261.000000,3261.000000,3262.000000,3262.000000,3262.000000,3262.000000,3262.000000,...,3262.000000,3262.000000,3262.000000,3262.000000,3262.000000,3262.000000,3262.000000,3262.000000,3262.000000,3262.000000
mean,8.390341e+07,839.445739,32108.751845,37.165903,-89.160375,0.000307,0.000307,0.000613,0.000613,0.001533,...,231.261803,239.019620,247.401288,256.023912,266.453096,277.546904,287.600858,296.071429,302.942060,310.417535
std,3.288463e+06,18.066200,17851.366786,8.662455,21.547038,0.017509,0.017509,0.024757,0.024757,0.039127,...,2632.307282,2687.299419,2745.914905,2810.062590,2888.109280,2984.008796,3076.815833,3144.373343,3193.103071,3236.440536
min,1.600000e+01,16.000000,60.000000,-14.271000,-170.132000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8.401904e+07,840.000000,19038.500000,34.237321,-98.066628,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,3.000000
50%,8.403006e+07,840.000000,30046.000000,38.149014,-89.827411,0.000000,0.000000,0.000000,0.000000,0.000000,...,10.000000,11.000000,11.000000,12.000000,12.000000,13.000000,13.000000,14.000000,14.000000,15.000000
75%,8.404702e+07,840.000000,47011.500000,41.683301,-82.793570,0.000000,0.000000,0.000000,0.000000,0.000000,...,49.000000,51.000000,53.000000,56.000000,59.000000,62.750000,65.000000,67.750000,69.750000,72.000000
max,8.410000e+07,850.000000,99999.000000,69.314792,145.673900,1.000000,1.000000,1.000000,1.000000,1.000000,...,134267.000000,136591.000000,139348.000000,142227.000000,145855.000000,150473.000000,155113.000000,158258.000000,160489.000000,162338.000000